#title{
    left: 0;
    right: 0;
    color: #fff;
    font-family: Lato;
    font-weight: 300;
    letter-spacing: 10px;
    padding-left: 10px
}

.scrollable-div {
    height: 100vh; 
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 0px;
}

#title span {
    font-size:60px;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#title .span2 {
    font-size: 30px;
    padding-left: 60px;

}

#text span {
    font-size:60px;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#background{
    background-color: transparent;
}



.footer{
    background-color: red;
}

.icon {
    height: 100vh;
}


p{
    font-size: 100%;
    margin-left: 2%;
    color: radial-gradient(ellipse at bottom, #1b2735, #090a0f 100%);
    
}

h1{
    font-size: 100%;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10%;
    font-size: 100%;
}

.hidden {
    height: 80vh;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.show {
    transform: translateY(0);
    opacity: 1;
}

.footerZone{
    background: black;
}

p{
    color: white;
}
