#title{
    left: 0;
    right: 0;
    color: #fff;
    font-family: Lato;
    font-weight: 300;
    letter-spacing: 10px;
    padding-left: 10px
}

.info{
    padding-top: 20%;
}
.info2{
    padding-top: 20%;
}

.scrollable-div {
    margin-top: -10%;
    max-height: 1000px; 
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 0px;
}

#title span {
    font-size:60px;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#title .span2 {
    font-size: 40px;
    padding-left: 60px;

}

#text span {
    font-size:60px;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#background{
    background-color: transparent;
}


.footer{
    background-color: red;
}

.icon{
    margin-top: 10%;
}


li{
    font-size: 20px;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 15%;
    margin-top: 5%;
}

p{
    font-size: 20px;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

h1{
    font-size: 50px;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10%;
    font-size: 100%;
}


